@model IEnumerable<App.Entities.Base.Producto>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Productos</h2>

@using (Html.BeginForm())
{
    <label>Buscar por nombre</label>
    <input name="filterByName" class="form-control" value="@ViewBag.filterByName" />
    <br />
    <label>Buscar por categoria</label>
    @Html.DropDownList("filterByCategoria", new SelectList(ViewBag.Categorias, "CategoriaID", "Nombre"), "Todos", new { @class = "form-control" })
    <br />
    <label>Buscar por marca</label>
    @Html.DropDownList("filterByMarca", new SelectList(ViewBag.Marcas, "MarcaID", "Nombre"), "Todos", new { @class = "form-control" })
    <button class="btn btn-primary">Buscar</button>
}
<table class="table table-bordered">
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Marca</th>
        <th>Precio Mayor</th>
        <th>Precio Menor</th>
        <th>Stock Actual</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductoCode</td>
            <td>@item.Nombre</td>
            <td>@item.Categoria.Nombre</td>
            <td>@item.Marca.Nombre</td>
            <td>@item.PrecioMayor</td>
            <td>@item.PrecioMenor</td>
            <td>@item.StockActual</td>
        </tr>
    }

</table>