@model IEnumerable<App.Entities.Base.Producto>
@using App.UI.Web.MVC.CustomHtmlHelpers;

<table class="table table-bordered">
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Marca</th>
        <th>Precio Mayor</th>
        <th>Precio Menor</th>
        <th>Stock Actual</th>
        <th>Stock Actual</th>
        <th>Acción</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ProductoCode</td>
        <td>@item.Nombre</td>
        <td>@item.Categoria.Nombre</td>
        <td>@item.Marca.Nombre</td>
        <td>@item.PrecioMayor</td>
        <td>@item.PrecioMenor</td>
        <td>@item.StockActual</td>
        <td>@Html.SemaforoStock(@item.StockActual)</td>
        <td>
            @Html.ActionLink("Editar", "Edit", "Producto", new { id = @item.ProductoID, name = item.Nombre }, null)
        </td>
    </tr>
    }

</table>